<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-R4558gJ2U9uBjCnyoLc4RtVc6OgFJsCqhPgFirthKzk342k7LrOA4JG8jCpCf6dL" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-zc9O5sVU2bPZlvnBKSLb7bxELzNwHgTcFc/nJzy4PBufo/4VC7hsdRAe5yf7v1b3" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/auto-render.min.js" integrity="sha384-fnQ6lyp8bO0yJTq5uXK/wM0phgDfPp7X8q+Rz8jHcKzB5CfUeJDsVZOGwppJ1LQV" crossorigin="anonymous" 
        onload="renderMathInElement(document.body);"></script>
